<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load censor %}
{% load custom_tags %}
<!-- Название у нас будет products -->
{% block title %}
news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
<h2>{{ time_now|date:"M d Y" }}</h2>
<hr>
{% if posts %}
<table>
    <tr>
        <td>Название</td>
        <td>Текст</td>
        <td>Дата публикации</td>

    </tr>

    {% for post in posts %}
    <tr>
        <td>{{ post.title|censor_profanities }}</td>
        <td>{{ post.text|truncatewords:20|censor_profanities }}</td>
        <td>{{ post.dateCreation }}</td>

    </tr>
    {% endfor %}

</table>
{% else %}
<h2>Новостей нет</h2>
{% endif %}
{% endblock content %}